:root {
  --maker-line-padding: 2px;
  --maker-delete-color: white;
  --maker-delete-bg-color: #F66;
  --maker-insert-color: white;
  --maker-insert-bg-color: #66F;
}

pre {
  margin: 0;
  padding: 0;
}

.maker-textarea {
  width: 50%;
  height: 20px;
}

.maker-container {
  margin: 10px;
  font-size: 0.8em;
}

.maker-file {
  margin-bottom: 10px;
  border: solid 1px lightgray;
}

.maker-header {
  display: flex;
  color: white;
  background-color: #00a1ffff;
  padding: var(--maker-line-padding);
}

.maker-column {
  display: inline-block;
  flex: 1;
}

.maker-hunk {
  display: flex;
  border-bottom: solid 1px lightgray;
}

.maker-normal {
  flex: 1;
  display: inline-block;
  line-height: 1;
  padding: var(--maker-line-padding);
  overflow: clip;
}

.maker-insert {
  flex: 1;
  display: inline-block;
  color: var(--maker-insert-color);
  background-color: var(--maker-insert-bg-color);
  line-height: 1;
  padding: var(--maker-line-padding);
  overflow: clip;
}

.maker-delete {
  flex: 1;
  display: inline-block;
  color: var(--maker-delete-color);
  background-color: var(--maker-delete-bg-color);
  line-height: 1;
  padding: var(--maker-line-padding);
  overflow: clip;
}

.maker-state {
  width: 17px;
  display: inline-block;
  color: #F88;
  line-height: 1;
  padding: var(--maker-line-padding);
  overflow: clip;
}

.maker-left {
  border-right: solid 1px lightgray;
}

.maker-button {
  outline: none; 
  float: right;
}

.maker-margin-button {
  margin-right: 10px;
  outline: none; 
  float: right;
}

.maker-code-normal {
  flex: 1;
  display: inline-block;
  line-height: 1;
  padding: var(--maker-line-padding);
  overflow: clip;
}

.maker-code {
  display: inline;
  padding: 0;
  margin: 0;
}

.maker-code-added {
  color: var(--maker-insert-color);
  background-color: var(--maker-insert-bg-color);
  padding: 0;
  margin: 0;
}

.maker-code-removed {
  color: var(--maker-delete-color);
  background-color: var(--maker-delete-bg-color);
  padding: 0;
  margin: 0;
}

.maker-top-header {
  height: 24px;
  top: 0;
  padding: 4px 10px 6px 10px;
  font-size: 0.7em;
  position: sticky;
  background-color: white;
  border-bottom: solid 1px lightgray;
}

.maker-text-input {
  margin-right: 10px;
  float: right;
}

.maker-index {
  width: 14px;
  display: inline-block;
  border-right: solid 1px lightgray;
  padding: 3px;
}

.maker-cell {
  flex: 1;
  display: inline-block;
  border-right: solid 1px lightgray;
  padding: 3px;
}

.maker-col-first {
  display: flex;
  width: 100%;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  border-left: solid 1px lightgray;
  color: white;
  font-weight: bold;
  background-color: gray;
}

.maker-col {
  display: flex;
  width: 100%;
  border-bottom: solid 1px lightgray;
  border-left: solid 1px lightgray;
}
